{% extends 'djangoshop/layout.html' %}
{% load static %}

{% block title%}
    Juguetes
{% endblock %}

{% block body%}
    <div class="container text-center">
        <div><h1 class="display-4 fw-bold p-5">Juguetes</h1></div>
        <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/Mandalorian.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Iron Studio</h5>
                  <p class="card-text">Figura Iron Studio Mandalorian Scala 110 Original</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">139990</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/krillin.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Banpresto</h5>
                  <p class="card-text">Dragon Ball Z G Materia The Krillin</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">21990</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/drstrange.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Funko</h5>
                  <p class="card-text">Funko Pop! Doctor Strange Multiverse of Madness - Doctor Strange 1000</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">12990</a>
                </div>
              </div>
        </div>
        </div>
        <a href="/" class="btn btn-primary m-4">Volver</a>
    </div>
{% endblock %}